<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/match.css">
    <script src="/auswahlmatch.js" defer ></script>
</head>
<body>

    <div class ="header">
        <h1>Match</h1>
    </div>

    <div class ="player">
        <h1>players</h1>
    </div>
    <div class ="player1 mode-box2">
        <h1>1</h1>
    </div>
    <div class ="player2 mode-box2">
        <h1>2</h1>
    </div>
    <div class ="player3 mode-box2">
        <h1>3</h1>
    </div>
    <div class = "player4 mode-box2">
        <h1>4</h1>
    </div>

    <div class="start switchmatch">
        <a href="/spiel" id="startLink">start</a>
    </div>
    <div class ="back switchmatch">
        <a href="/" id="startLink">back</a>
    </div>

</body>
</html>