<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Interactive Dartboard</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="background.css">
    <link rel="stylesheet" href="style.css">
    <script src="dartscheibe.js" defer></script>
    <script src="anzeige.js" defer></script>
</head>
<body>

<svg id="dartboard" viewBox="-250 -250 500 500"></svg>

<div class="gamemode" id="gamemodeDisplay"></div>

<div class="players" id ="playerDisplay"></div>


<div class="switch">
    <a href="/">back</a>
</div>
</body>
</html>
