body {
    margin: 0;
    height: 100vh;
    background-color: black;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: start;
    color: white;
    position: relative; /* wichtig für absolute Position vom Button */
}

.header {
    font-size: calc(1.8vmin + 15px);
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 17;

    text-align: center;
    color: #ff3b3b; /* Rot */
    text-shadow:
            0 0 5px #ff3b3b,
            0 0 10px #ff3b3b,
            0 0 20px #ff3b3b,
            0 0 40px #ff3b3b;

    font-family: 'Orbitron', sans-serif;
    animation: glowRed 2s ease-in-out infinite alternate;
    margin-top: 20px;
}


@keyframes glowRed {
    from {
        text-shadow:
                0 0 5px #ffb3b3,
                0 0 10px #ffb3b3,
                0 0 20px #ffd6d6,
                0 0 40px #ffd6d6;
    }
    to {
        text-shadow:
                0 0 10px #ffd6d6,
                0 0 20px #ffd6d6,
                0 0 30px #ffeaea,
                0 0 60px #ffeaea;
    }
}

.player{
    font-size: calc(1.5vmin + 12px);
    grid-row-start: 5;
    text-decoration: underline;
    grid-column-start: 1;
    grid-column-end: 17;
}
.player1{
    font-size: calc(1.5vmin + 8px);
    grid-row-start: 6;
    grid-column-start: 7;
    grid-column-end: 8;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 10px;
}

.player2{
    font-size: calc(1.5vmin + 8px);
    grid-row-start: 6;
    grid-column-start: 8;
    grid-column-end: 9;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 10px;
}

.player3{
    font-size: calc(1.5vmin + 8px);
    grid-row-start: 6;
    grid-column-start: 9;
    grid-column-end: 10;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 10px;
}

.player4{
    font-size: calc(1.5vmin + 8px);
    grid-row-start: 6;
    grid-column-start: 10;
    grid-column-end: 11;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 10px;
}

.mode-box2 {
    cursor: pointer;
    transition: background-color 0.3s;
}
.mode-box2.active {
    background-color: rgba(255, 0, 0, 0.2);
    border-color: red;
}
.start{
    grid-row-start: 9;
    grid-column-start: 9;
    grid-column-end: 10;
}
.back{
    grid-row-start: 9;
    grid-column-start: 8;
    grid-column-end: 9;
}

.switchmatch {
    font-size: calc(1.5vmin + 8px);
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.switchmatch a {
    color: white;
    font-size: calc(1.8vmin + 8px);
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 10px;
}