body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    background-color: black;
}

svg {
    width: 100vmin;
    height:100vmin;
    background-color: #222;
    cursor: crosshair;
}

.switchhome {
    position: absolute;
    font-size: calc(1.8vmin + 8px);
    top: 1200px;
    width: 100%;
    text-align: center;
    color: white;
    font-family: sans-serif;
    left: -430px;
}

.switchhome a {
    color: white;
    font-size: calc(1.8vmin + 8px);
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 10px;
}

text {
    font-size: calc(1.8vmin + 8px);
    fill: white;
    font-family: sans-serif;
    text-anchor: middle;
    dominant-baseline: middle;
}
/*
.gamemode {
    position: absolute;
    font-size: calc(1.8vmin + 8px);
    top: 30px;
    width: 100%;
    text-align: center;
    color: white;
    font-family: sans-serif;
    left: -430px;
}
.players{
    position: absolute;
    font-size: calc(1.8vmin + 8px);
    top: 1230px;
    width: 100%;
    text-align: center;
    color: white;
    font-family: sans-serif;
    right: -450px;
}*/


